* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    width: 100%;
}

:root {
    --nykodepurple: #8548c7;
    --nykodeorange: #ef6e2d;
}

body,
html {
    min-height: 100vh;
}
body {
    background-image: url("trening.jpg");
    background-position: center;
    background-size: cover;
    color: var(--nykodeorange);
}

#results {
    width: 500px;
    border-radius: 20px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 40px;
}
h1,
h2 {
    background-color: var(--nykodepurple);
    padding: 20px;
    margin-bottom: 30px;
    text-align: center;
}

.gruppe {
    margin-bottom: 30px;
    font-size: 2em;
}
.grupperesults {
    font-size: 0.7em;
    font-weight: bold;
    color: var(--nykodepurple);
    background-color: rgba(0, 0, 0, 0.5);
    width: fit-content;
    padding: 3px;
    border-radius: 4px;
}
.bruker {
    font-size: 0.5em;
    position: relative;
}
.datoer {
    display: none;
    position: absolute;
    color: var(--nykodepurple);
    font-weight: bold;
    top: 0;
    right: 50px;
    z-index: 2;
    background-color: var(--nykodeorange);
    padding: 4px;
}
.bruker:hover .datoer {
    display: block;
}

@media (width < 500px) {
    h1,
    h2 {
        margin-bottom: 0;
    }
    #results {
        width: 100%;
        border-radius: 0;
    }
}
